.categories{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.categorie_box{
  border: 1px solid black;
  display: grid;
  align-items: center;
  text-decoration: none;
  text-align: center;
  height: 120px;
  color: black;
  cursor: pointer;
}