.subNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.backLink,
.list_items,
.subNav_link{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.NoResultsFound{
    text-align: center;
}

.hr{
    width: 80%;
}